<h1>Contact</h1>

<table itemscope itemtype="http://schema.org/Person">
    <tr>
        <td>Name</td>
        <td itemprop="name">Reinhard Seiler</td>
    </tr>
    <tr>
        <td>Job Title</td>
        <td itemprop="jobTitle">Software Developer</td>
    </tr>
    <tr>
        <td>E-Mail</td>
        <td itemprop="email"><a href="mailto:rseiler.developer@gmail.com">rseiler.developer@gmail.com</a></td>
    </tr>
    <tr>
        <td>Blog</td>
        <td><a href="http://reinhard-seiler.blogspot.co.at">http://reinhard-seiler.blogspot.co.at</a></td>
    </tr>
    <tr>
        <td>GitHub</td>
        <td><a href="https://github.com/rseiler/">https://github.com/rseiler/</a></td>
    </tr>
</table>