<h1>Contact</h1>

<table>
    <tr>
        <td>E-Mail</td>
        <td><a href="mailto:rseiler.developer@gmail.com">rseiler.developer@gmail.com</a></td>
    </tr>
    <tr>
        <td>Blog</td>
        <td><a href="http://reinhard-seiler.blogspot.co.at">http://reinhard-seiler.blogspot.co.at</a></td>
    </tr>
    <tr>
        <td>GitHub</td>
        <td><a href="https://github.com/rseiler/">https://github.com/rseiler/</a></td>
    </tr>
</table>