<h1>Curriculum Vitae</h1>

<h2>Certificates</h2>

<ul>
    <li>
        Professional Scrum Master I
        <small>(<a href="/resources/certificates/psm1.pdf" target="_blank">PDF</a> 727KB)</small>
    </li>
    <li>
        Oracle Certified Associate, Java SE 7 Programmer
        <small>(<a href="/resources/certificates/ocaj7.pdf" target="_blank">PDF</a> 1659KB)</small>
    </li>
    <li>
        Functional Programming Principles in Scala
        <small>(<a href="/resources/certificates/scala.pdf" target="_blank">PDF</a> 292KB)</small>
    </li>
    <li>
        Software as a Service
        <small>(<a href="/resources/certificates/software-as-a-service.pdf" target="_blank">PDF</a> 154KB)</small>
    </li>
</ul>

<h2>Technical skills, knowledge and competencies</h2>

<div class="skill-entry-block">
    <div class="skill-entry-col">
        <div class="skill-entry">
            <div class="title">Programming Languages</div>
            <ul>
                <li>Java 8, Java EE</li>
                <li>JavaScript, TypeScript</li>
                <li>Groovy</li>
                <li>PHP5</li>
                <li>Python</li>
            </ul>
        </div>
        <div class="skill-entry">
            <div class="title">Web</div>
            <ul>
                <li>Responsive Web Design</li>
                <li>Websocket, LocalStorage, Touch-Events, ...</li>
                <li>HTML5, SVG, Canvas</li>
                <li>CSS3, LESS</li>
                <li>JSON, XML</li>
                <li>AJAX, REST</li>
                <li>jQuery, AngularJS</li>
                <li>JSP</li>
            </ul>
        </div>
        <div class="skill-entry">
            <div class="content">
                <div class="title">Databases</div>
                <ul>
                    <li>MySQL</li>
                    <li>SyBase</li>
                    <li>Oracle</li>
                    <li>PostgreSQL</li>
                    <li>SQLite</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="skill-entry-col">
        <div class="skill-entry">
            <div class="content">
                <div class="title">Advanced Java</div>
                <ul>
                    <li>Reflection</li>
                    <li>Annotation Processing</li>
                    <li>AOP, Proxy Design Pattern</li>
                    <li>Code Generation</li>
                    <li>Byte Code Transformation with ASM</li>
                    <li>Java Agents</li>
                </ul>
            </div>
        </div>
        <div class="skill-entry">
            <div class="content">
                <div class="title">Frameworks</div>
                <ul>
                    <li>Spring (DI, MVC, Security, JPA Data, AOP)</li>
                    <li>Jersey</li>
                    <li>Velocity</li>
                    <li>Bean Validation</li>
                    <li>JUnit</li>
                    <li>Mockito</li>
                    <li>WireMock</li>
                    <li>Dumbster</li>
                    <li>JOOQ</li>
                    <li>Hibernate</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="skill-entry-col">
        <div class="skill-entry">
            <div class="title">Tools</div>
            <ul>
                <li>Maven, Ant, Gulp</li>
                <li>JMeter</li>
                <li>Sitespeed.io, PageSpeed, YSlow</li>
                <li>SVN, GIT</li>
                <li>IntelliJ</li>
                <li>JRebel</li>
            </ul>
        </div>
        <div class="skill-entry">
            <div class="title">Other Knowledge</div>
            <ul>
                <li>Tomcat</li>
                <li>HTTP, HTTP2 (SPDY)</li>
                <li>SOAP, REST, JMX, RMI</li>
                <li>Website Speed Optimization</li>
                <li>Static Code Analysis: FindBugs, PMD, CheckStyle, Sonar</li>
                <li>Maven: JaCoCo, Surfire, Failsafe, Modules, Profiles, Site, JXR, ...</li>
                <li>JavaMelody, JavaSimon</li>
                <li>Scrum</li>
                <li>Jira</li>
            </ul>
        </div>
        <div class="skill-entry">
            <div class="title">Programming Skills</div>
            <ul>
                <li>UML</li>
                <li>Object-oriented, functional, stack-based, logic-based, rule-based programming languages</li>
            </ul>
        </div>
    </div>
</div>

<h2>Work Experience</h2>

<div class="job-entries">
    <div class="job-entry">
        <div class="date">December 2012 until today</div>
        <div>
            <span class="job-title">Team Leader - Software Development</span>
        </div>
        <div>
            at <a href="http://www.willhaben.at/" target="_blank">willhaben internet service GmbH & Co KG</a>
        </div>
        <ul>
            <li>
                <span class="date">November 2014</span>:
                <span class="job-title">Team Leader</span>
                <ul>
                    <li>Supervisor of 6-8 employees</li>
                    <li>Member of willhaben.at Architects' round</li>
                </ul>
            </li>
            <li>
                <span class="date">October 2013</span>:
                <span class="job-title">Technical Lead</span>

                <ul>
                    <li>
                        Development of the <a href="http://mobile.willhaben.at" target="_blank">mobile website</a>
                        (greenfield project)
                    </li>
                    <li>Technologies
                        <ul>
                            <li>Tomcat</li>
                            <li>Java 8</li>
                            <li>Spring MVC, Spring DI, Jersey</li>
                            <li>Maven, Gulp</li>
                            <li>Angular, jQuery</li>
                            <li>HTML, LESS/CSS3, TypeScript/JavaScript</li>
                            <li>Web Font Icons</li>
                            <li>Optimized for Android (internal browser, Chrome, Firefox), iPhone and Windows Phone</li>
                        </ul>
                    </li>
                    <li>
                        +220 million page impressions per month
                        (<a href="http://oewa.at/index.php?id=17051" target="_blank">source</a>)
                    </li>
                </ul>
            </li>

            <li>
                <span class="date">December 2012</span>:
                <span class="job-title">Software Developer</span>

                <ul>
                    <li>
                        Development of the <a href="http://www.willhaben.at/iad" target="_blank">willhaben.at</a>
                        Website
                        <ul>
                            <li>
                                +1 billion page impressions per month
                                (<a href="http://oewa.at/index.php?id=17047&amp;sort=DESC&amp;by=pi&amp;cat=gesamt#ea" target="_blank">source</a>)
                            </li>
                        </ul>
                    </li>
                    <li>Development of the REST API (greenfield project)</li>
                    <li>Technlologies
                        <ul>
                            <li>Tomcat</li>
                            <li>Java</li>
                            <li>Spring DI, Jersey</li>
                            <li>JSP</li>
                            <li>jQuery</li>
                            <li>HTML, CSS3, JavaScript</li>
                            <li>SLQ/SyBase</li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
        <p class="job-description">
            The scope of the work includes the active development of the mobile site, the desktop site, and the REST
            API. Furthermore I am a member of the Architects' round, as well the architect of the
            mobile site. I was Scrum master for around one year. After I was team leader I gave up the Scrum master role,
            due to time constraints.
            These are all very interesting, exciting and challenging tasks.
            <br/>
            Another thrilling aspect is that willhaben.at a high traffic website is - whereby the performance plays an
            important role. In the <a href="http://www.oewa.at/" target="_blank">ÖWA</a> statistics leads willhaben.at
            far ahead of the other popular Austrian sites (e.g.: orf.at, gmx.at, derstandard.at).
        </p>
    </div>

    <div class="job-entry">
        <div class="date">May 2012 to today</div>
        <div class="job-title">Freelancer</div>
        <div>at <a href="http://www.dasertragreich.at/" target="_blank">dasErtragReich - Crowdinvesting Plattform für KMU</a></div>
        <div>
            <ul>
                <li>
                    Developed the complete website
                </li>
            </ul>
        </div>
    </div>

    <div class="job-entry">
        <div class="date">October 2010 to July 2013</div>
        <div class="job-title">
            Tutor for <a href="https://pp.caa.tuwien.ac.at/aktuelles/">Programmierpraxis</a>
            (translation: programming practice)
        </div>
        <div>at <a href="http://www.tuwien.ac.at/" target="_blank">Technische Universität Wien</a></div>
        <div>
            <ul>
                <li>Give presentations about Java in small groups (up to 20 people)</li>
                <li>Support students in the Java exercises</li>
                <li>
                    Development of a system for interactive learning of Java
                    (see <a href="/projects#jlearn">Projects / jLearn</a>)
                </li>
            </ul>
        </div>
    </div>

    <div class="job-entry">
        <div class="date">Summer of 2009 until today</div>
        <div class="job-title">Freelancer</div>
        <div>at <a href="http://sproing.at/" target="_blank">Sproing Interactive Media GmbH</a></div>
        <div>
            <ul>
                <li>
                    Development and support of the time and vacation management system
                    (see <a href="#sproing-2009">practical training at Sproing, 2009</a>)
                </li>
                <li>Technologies
                    <ul>
                        <li>PHP</li>
                        <li>Java (Swing)</li>
                        <li>MySQL</li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>

    <div class="job-entry">
        <div class="date">June 2010 to August 2010</div>
        <div class="job-title">Internship</div>
        <div>at <a href="http://sproing.at/" target="_blank">Sproing Interactive Media GmbH</a></div>
        <div>
            <ul>
                <li>
                    Development and support of the time and vacation management system
                    (see <a href="#sproing-2009">practical training at Sproing, 2009</a>)
                </li>
                <li>Creation of documentation</li>
                <li>Technologies
                    <ul>
                        <li>PHP</li>
                        <li>Java (Swing)</li>
                        <li>MySQL</li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>

    <div class="job-entry" id="protfolio-system">
        <div class="date">From July 2009 to October 2010</div>
        <div class="job-title">Internship</div>
        <div>at <a href="http://www.tuwien.ac.at/" target="_blank">Technische Universität Wien</a></div>
        <div>
            <ul>
                <li>
                    Development of a Web 2.0 Portfolio Systems (greenfield project),
                    which was used successfully in several courses at the university.
                </li>
                <li>Technologies
                    <ul>
                        <li>Python, Django</li>
                        <li>MySQL</li>
                        <li>JavaScript, AJAX</li>
                        <li>HTML, CSS3</li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>

    <div class="job-entry" id="sproing-2009">
        <div class="date">April 2009 to June 2009</div>
        <div class="job-title">Practical Training</div>
        <div>at <a href="http://sproing.at/" target="_blank">Sproing Interactive Media GmbH</a></div>
        <div>
            <ul>
                <li>Development and support of a time and vacation management system in a team of 6 persons</li>
                <li>Technologies
                    <ul>
                        <li>Java (Swing)</li>
                        <li>MySQL</li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>

    <div class="job-entry">
        <div class="date">Summer 2007</div>
        <div class="job-title">Practical Training</div>
        <div>at <a href="http://www.rabcat.com/" target="_blank">Rabcat Computer Graphics GmbH</a></div>
        <div>
            <ul>
                <li>Website Development</li>
                <li>Technologies
                    <ul>
                        <li>PHP</li>
                        <li>MySQL</li>
                        <li>HTML, CSS, JavaScript</li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>

    <div class="job-entry">
        <div class="date">2005 until today</div>
        <div class="job-title">Passionate Software Developer</div>
    </div>

</div>