<h1>Projects</h1>

<h2 id="maven-central-repository">Maven Central Repository</h2>

My private projects which are aviable on the
<a href="http://search.maven.org/#search|ga|1|at.rseiler" target="_blank">Central Repository</a>.

<div class="project-entry">
    <a href="/pom-project">
        <h3 id="maven-pom">Maven POM-Project</h3>
    </a>

    <div>
        <p>
            The POM of the POM-Project is indented to be used as a parent POM, to speed up the setup/configuration of a
            project. I am using this POM as a parent POM for all my projects.
        </p>

        <strong>Features</strong>
        <ul>
            <li>Static code analysis with
                <a href="http://findbugs.sourceforge.net/" target="_blank">FindBugs</a>,
                <a href="http://pmd.sourceforge.net/" target="_blank">PMD</a>
                and <a href="http://checkstyle.sourceforge.net/" target="_blank">CheckStyle</a>
                with reasonable configuration
            </li>
            <li>
                <a href="http://www.eclemma.org/jacoco/" target="_blank">JaCoCo</a>
                for code coverage reports
            </li>
            <li>
                <a href="https://maven.apache.org/surefire/" target="_blank">Surefire</a>
                with two configurations
                <ul>
                    <li>tests which are thread safe and will be executed in parallel on the same JVM</li>
                    <li>tests which aren't thread safe and therefore will be run in JVM forks</li>
                </ul>
            </li>
            <li>
                <a href="https://maven.apache.org/surefire/maven-failsafe-plugin/" target="_blank">Failsafe</a>
                to execute integration tests
            </li>
            <li>
                <a href="https://maven.apache.org/plugins/maven-site-plugin/" target="_blank">Maven Site</a>
                to generate a nice documentation
                <ul>
                    <li><a href="https://en.wikipedia.org/wiki/Markdown" target="_blank">Markdown</a> for the
                        documentation
                    </li>
                    <li>Project info reports</li>
                    <li>Generated Javadoc</li>
                    <li>Source Code as HTML for code references</li>
                    <li>Generated tag lists for todo/fixme and @deprecated</li>
                    <li>JaCoCo, Surfire and Failsafe reports</li>
                </ul>
            </li>
        </ul>
        <p>
            Resources:
            <a href="https://github.com/rseiler/pom-project">Source Code (GitHub)</a>,
            <a href="https://rseiler.github.io/pom-project/pom/index.html">Documentation</a>
        </p>
    </div>
</div>

<div class="project-entry">
    <a href="/spBee">
        <h3>spBee - Stored Procedure Bee</h3>
    </a>

    <div>
        <p>
            This framework allows to <strong>declare the stored procedures calls declarative</strong> instead of
            programmatically.
            Only the interfaces, the entities and add a few annotations need to be written.<strong>The code</strong> for
            the
            stored procedures, the necessary entity mappers and the implementations of the DAO interfaces <strong>is
            generated by spBee</strong>.
        </p>

        <p>
            An important point is that there is no magic behind this framework like JPA/Hibernate with crazy reflection,
            proxies and framework logic. The only logic is how to translate the annotations to the corresponding Java
            code.
            Thereby spBee has only about 1700 LoC (measured with <a href="https://www.npmjs.com/package/sloc">sloc</a>).
        </p>

        <p>
            <strong>Everything is done at compile time</strong>.
            Therefore there is <strong>no performance shortcoming</strong>.
            No reflection. No proxies.
        </p>

        <p>
            Resources:
            <a href="https://github.com/rseiler/spBee">Source Code (GitHub)</a>,
            <a href="https://rseiler.github.io/spBee/index.html">Documentation</a>
        </p>
    </div>
</div>


<h2 id="private-projects">Private Projects</h2>

My projects which aren't on the Central Repository, because it dosn't make sence to include them as Maven dependency.

<div class="project-entry">
    <h3>LCMiP - Log Called Methods in Production</h3>

    <div>
        <p>
            A tool box to log all called methods and to create a report of all unused classes and unused methods.
        </p>

        <p>
            To instrument the code a
            <a href="http://docs.oracle.com/javase/7/docs/api/java/lang/instrument/package-summary.html" target="_blank">
                Java Agent
            </a>
            is used.
        </p>

        <p>
            Resources:
            <a href="https://github.com/rseiler/lcmip">Source Code (GitHub)</a>,
            <a href="https://rseiler.github.io/lcmip/index.html">Documentation</a>
        </p>
    </div>
</div>

<div class="project-entry">
    <h3>Spring MVC Bootstrap Project</h3>

    <div>
        <p>
            The main focus of this project is to create a template for a webapp. So that you can just start developing
            your webapp and you don't need to configure everything first. It's quite time consuming to create a nicely
            configured webapp project.<br/>
            This structure is intended for <strong>small to medium size websites</strong>.
            Like <a href="/">this site</a> which is based on this template.
        </p>

        <strong>Features</strong>
        <ul>
            <li>
                <a href="http://docs.spring.io/spring/docs/current/spring-framework-reference/html/mvc.html" target="_blank">
                    Spring MVC</a> with
                <a href="https://velocity.apache.org/" target="_blank">Velocity</a>
            </li>
            <li>Java Config (no XML config)</li>
            <li>
                <a href="http://lesscss.org/" target="_blank">LESS</a> and
                <a href="http://www.typescriptlang.org/" target="_blank">TypeScript</a> build with
                <a href="http://gulpjs.com/" target="_blank">Gulp</a></li>
            <li>
                <a href="http://getbootstrap.com/" target="_blank">Bootstrap</a>
            </li>
            <li>Page-Component-Concept</li>
            <li>Static Code Analysis (see <a href="#maven-pom">Maven POM</a>)</li>
            <li>Full Maven integration (see <a href="#maven-pom">Maven POM</a>)</li>
        </ul>

        <p>
            <i>TODO: finish demo project and put it on GitHub.</i>
        </p>
    </div>
</div>

<div class="project-entry">
    <h3 id="jlearn">jLearn</h3>

    <p>
        A website to help people learn Java.
        On the website are a series of interactive exercises. The exercises can be solved and executed directly in the
        browser. Nevertheless the output should be exactly the same if the program would be compiled and run with
        <i>javac</i> and <i>java</i>.
    </p>

    <p>
        For me the most interesting aspect of the project was to do the compelition on the fly and the execution of the
        Java code inside of the server JVM - no IO operations, no external processes. Of course the execution of the
        user code must be sandboxed.
    </p>

    <p>
        Link to the <a href="http://${hostUri}:8888/" data-port-link="">jLearn website</a> (german).
    </p>
</div>


<h2 id="contract-work">Contract Work</h2>

My contract work projects, which are publicly accessible. My other work is listed in my
<a href="/cv">CV</a> under work experience.

<div class="project-entry">
    <a href="http://mobile.willhaben.at/" target="_blank">
        <h3>willhaben.at - Mobile Website</h3>
    </a>

    <p>
        I am the architect of this website and work in a team as developer on this website.
    </p>
</div>
<div class="project-entry">
    <a href="http://www.willhaben.at/iad" target="_blank">
        <h3>willhaben.at - Desktop Website</h3>
    </a>

    <p>
        I work in a team as developer on this website.
    </p>
</div>
<div class="project-entry">
    <a href="http://www.dasertragreich.at/" target="_blank">
        <h3>dasErtragReich.at</h3>
    </a>

    <p>
        I created this website alone (except of the design).
    </p>
</div>