<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="template">
<body>

<div layout:fragment="content">

    <h1 xmlns="http://www.w3.org/1999/html">Curriculum Vitae</h1>

    <h2>Certificates</h2>

    <ul>
        <li>
            Professional Scrum Master I
            <small>(<a href="/certificates/psm1.pdf" target="_blank">PDF</a> 727KB)</small>
        </li>
        <li>
            Oracle Certified Associate, Java SE 7 Programmer
            <small>(<a href="/certificates/ocaj7.pdf" target="_blank">PDF</a> 1659KB)</small>
        </li>
        <li>
            Functional Programming Principles in Scala
            <small>(<a href="/certificates/scala.pdf" target="_blank">PDF</a> 292KB)</small>
        </li>
        <li>
            Software as a Service
            <small>(<a href="/certificates/software-as-a-service.pdf" target="_blank">PDF</a> 154KB)</small>
        </li>
    </ul>

    <h2>Technical skills, knowledge and competencies</h2>

    <div class="skill-entry-block">
        <div class="skill-entry-col">
            <div class="skill-entry">
                <div class="title">Programming Languages</div>
                <ul>
                    <li>Java 10, Java EE</li>
                    <li>TypeScript, JavaScript</li>
                    <li>Groovy</li>
                    <li>Python</li>
                    <li>Scala</li>
                </ul>
            </div>
            <div class="skill-entry">
                <div class="content">
                    <div class="title">Advanced Java</div>
                    <ul>
                        <li>Reflection</li>
                        <li>Annotation Processing</li>
                        <li>AOP, Proxy Design Pattern</li>
                        <li>Code Generation</li>
                        <li>Byte Code Transformation with ASM</li>
                        <li>Java Agents</li>
                    </ul>
                </div>
            </div>
            <div class="skill-entry">
                <div class="content">
                    <div class="title">Frameworks and Libraries</div>
                    <ul>
                        <li>Spring (DI, MVC, REST, Security, Data, AOP, Kafka, ActiveMQ, ...)</li>
                        <li>Kafka, ActiveMQ, Spark</li>
                        <li>JUnit, Mockito, WireMock</li>
                        <li>Velocity, Thymeleaf, JSP</li>
                        <li>Bean Validation</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="skill-entry-col">
            <div class="skill-entry">
                <div class="title">Web</div>
                <ul>
                    <li>Responsive Web Design</li>
                    <li>Websocket, LocalStorage, Touch-Events, ...</li>
                    <li>HTML5, SVG, Canvas</li>
                    <li>LESS, CSS3</li>
                    <li>JSON, XML</li>
                    <li>AJAX, REST</li>
                    <li>VueJS, AngularJS, jQuery</li>
                    <li>JSP</li>
                </ul>
            </div>
            <div class="skill-entry">
                <div class="content">
                    <div class="title">Databases</div>
                    <ul>
                        <li>SQL</li>
                        <li>SyBase</li>
                        <li>PostgreSQL</li>
                        <li>MySQL</li>
                        <li>SQLite</li>
                        <li>MongoDB</li>
                        <li>Cassandra</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="skill-entry-col">
            <div class="skill-entry">
                <div class="title">Tools</div>
                <ul>
                    <li>Maven, Gulp</li>
                    <li>JMeter</li>
                    <li>Sitespeed.io, PageSpeed, YSlow</li>
                    <li>GIT</li>
                    <li>IntelliJ</li>
                    <li>JRebel</li>
                </ul>
            </div>
            <div class="skill-entry">
                <div class="title">Other Knowledge</div>
                <ul>
                    <li>HTTP, HTTP2</li>
                    <li>REST, JMX, RMI</li>
                    <li>Website Speed Optimization</li>
                    <li>Static Code Analysis: SpotBugs, PMD, CheckStyle, Sonar</li>
                    <li>Maven: JaCoCo, Surfire, Failsafe, Modules, Profiles, Site, JXR, ...</li>
                    <li>Spring Boot Admin, JavaMelody, JavaSimon</li>
                    <li>Scrum</li>
                    <li>Jira</li>
                </ul>
            </div>
        </div>
        <div style="clear: left"></div>
    </div>

    <h2>Work Experience</h2>

    <div class="job-entries">
        <div class="job-entry">
            <div class="date">December 2012 &ndash; June 2018</div>
            <div>
                <span class="job-title">Lead Architect</span>
            </div>
            <div>
                at <a href="http://www.willhaben.at/" target="_blank">willhaben internet service GmbH &amp; Co KG</a>
            </div>
            <div style="font-weight: bold; margin: 15px 0 5px 0;">Professional positions</div>
            <ul>
                <li>
                    <span class="date">June 2017</span>:
                    <span class="job-title">Lead Architect</span>
                    <ul>
                        <li>Designing the architecture vision, guidelines, etc.</li>
                        <li>Creating concepts like how to create a new state of the art responsive frontend</li>
                        <li>Support of software developers</li>
                        <li>Analysis of performance problems</li>
                    </ul>
                </li>
                <li>
                    <span class="date">November 2014</span>:
                    <span class="job-title">Team Lead</span>
                    <ul>
                        <li>Supervisor of eight employees</li>
                    </ul>
                </li>
                <li>
                    <span class="date">December 2013</span>:
                    <span class="job-title">Scrum Master</span>
                    <ul>
                        <li>Part-time Scrum Master for my Scrum team</li>
                    </ul>
                </li>
                <li>
                    <span class="date">December 2012</span>:
                    <span class="job-title">Software Developer</span>
                    <ul>
                        <li>
                            Development of the <a href="http://www.willhaben.at/iad" target="_blank">willhaben.at</a>
                            website (creation of a map based search,
                            integration of an image based search,
                            get the legacy application ready for
                            zero-down-time deployments, etc.)
                        </li>
                        <li>
                            The website has nearly billion page impressions per month
                            (March 2018, <a href="http://www.oewa.at/basic/online-angebote" target="_blank">ÖWA</a>)
                            which is an exciting performance challange
                        </li>
                    </ul>
                </li>
            </ul>

            <div style="font-weight: bold; margin: 15px 0 5px 0;">Major projects</div>
            <ul>
                <li>
                    <span class="date">March 2018</span>:
                    <span class="job-title">Member of the "Data Team"</span>
                    <ul>
                        <li>
                            Storing and processing individual events (e.g. page view), providing data via
                            REST APIs and performing analyses
                        </li>
                        <li>Technologies
                            <ul>
                                <li>Spark, Mesos</li>
                                <li>Cassandra, Kafka</li>
                                <li>Java, Scala, Spring Boot</li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    <span class="date">July 2017</span>:
                    <span class="job-title">"Messaging" as technical project lead</span>
                    <ul>
                        <li>
                            Integration of the Schibsted messaging center service (real time chat)
                        </li>
                        <li>Technologies
                            <ul>
                                <li>Spring Boot</li>
                                <li>MongoDB</li>
                                <li>Kafka, ActiveMQ</li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    <span class="date">4. Quarter 2016</span>:
                    <span class="job-title">"Join us in Barcelona"</span>
                    <ul>
                        <li>Part of an international engineering team from Schibsted in Barcelona focusion on
                            productivity
                        </li>
                        <li>Technologies
                            <ul>
                                <li>AWS</li>
                                <li>GitHub Enterprise, Travis, Spinnaker</li>
                                <li>Java, Spring Boot</li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    <span class="date">October 2013</span>:
                    <span class="job-title">Technical Project Lead</span>
                    <ul>
                        <li>
                            Development of the <a href="http://mobile.willhaben.at" target="_blank">mobile website</a>
                            (greenfield project)
                        </li>
                        <li>
                            360+ million page impressions per month (March 2018)
                        </li>
                        <li>
                            Initially the website was optimized for Android (Internet Browser, Chrome,
                            Firefox), iPhone and Windows Phone
                        </li>
                        <li>Technologies
                            <ul>
                                <li>Java 8, Tomcat, Spring MVC</li>
                                <li>Maven, Gulp</li>
                                <li>AngularJS, jQuery</li>
                                <li>HTML, LESS/CSS3, TypeScript/JavaScript</li>
                                <li>Web Font Icons</li>
                                <li>Initial optimized for Android (internal browser, Chrome, Firefox), iPhone and
                                    Windows
                                    Phone
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    <span class="date">December 2013</span>:
                    <span class="job-title">REST API</span>
                    <ul>
                        <li>
                            Development of a REST API for the willhaben APPs (Android, iOS), where I
                            implemented the security on the server side and implemented REST endpoints.
                        </li>
                        <li>Technologies
                            <ul>
                                <li>Tomcat, Java 8, Spring, Jersey</li>
                                <li>JSP, HTML, CSS3, JavaScript, jQuery</li>
                                <li>SQL/SyBase</li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>

        <div class="job-entry">
            <div class="date">May 2012 &ndash; October 2016</div>
            <div class="job-title">Freelancer</div>
            <div>at <a href="http://www.dasertragreich.at/" target="_blank">dasErtragReich - Crowdinvesting Plattform
                für
                KMU</a></div>
            <div>
                <ul>
                    <li>
                        Development of the website: dasErtragReich.at - Crowdinvesting Plattform
                    </li>
                    <li>Technologies
                        <ul>
                            <li>PHP</li>
                            <li>MySQL</li>
                            <li>HTML, CSS3 (responsive), JavaScript</li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>

        <div class="job-entry">
            <div class="date">October 2010 &ndash; July 2013</div>
            <div class="job-title">
                Tutor for "Programmierpraxis"
                (translation: programming practice)
            </div>
            <div>at <a href="http://www.tuwien.ac.at/" target="_blank">Technische Universität Wien</a></div>
            <div>
                <ul>
                    <li>Give presentations about Java in small groups (up to 20 people)</li>
                    <li>Support students in the Java exercises</li>
                    <li>
                        Development of a system for interactive learning of Java
                        (see <a href="/projects#jlearn">Projects / jLearn</a>)
                    </li>
                </ul>
            </div>
        </div>

        <div class="job-entry" id="protfolio-system">
            <div class="date">July 2009 &ndash; October 2010</div>
            <div class="job-title">Internship</div>
            <div>at <a href="http://www.tuwien.ac.at/" target="_blank">Technische Universität Wien</a></div>
            <div>
                <ul>
                    <li>
                        Development of a web 2.0 portfolio system (greenfield project),
                        which was used successfully in several courses at the university.
                    </li>
                    <li>Technologies
                        <ul>
                            <li>Python, Django</li>
                            <li>MySQL</li>
                            <li>HTML, CSS3, JavaScript, AJAX</li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>

        <div class="job-entry" id="sproing-2009">
            <div class="date">April 2009 &ndash; June 2009</div>
            <div class="job-title">Freelancer</div>
            <div>at <a href="https://de.wikipedia.org/wiki/Sproing_Interactive_Media" target="_blank">Sproing
                Interactive
                Media GmbH</a></div>
            <div>
                <ul>
                    <li>Development and support of a time and vacation management system in a team of 6 persons</li>
                    <li>Technologies
                        <ul>
                            <li>Java</li>
                            <li>PHP</li>
                            <li>MySQL</li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>

        <div class="job-entry">
            <div class="date">Summer 2007</div>
            <div class="job-title">Internship</div>
            <div>at <a href="http://www.rabcat.com/" target="_blank">Rabcat Computer Graphics GmbH</a></div>
            <div>
                <ul>
                    <li>Website Development</li>
                    <li>Technologies
                        <ul>
                            <li>PHP</li>
                            <li>MySQL</li>
                            <li>HTML, CSS, JavaScript</li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>

</div>
</body>
</html>