<!DOCTYPE html>
<html amp lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title>Reinhard Seiler</title>
    <meta charset="utf-8"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1, maximum-scale=1.0, user-scalable=0"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="robots" content="index, follow"/>
    <link rel="shortcut icon" type='image/x-icon' href="/favicon.ico"/>
    <meta name="description" content="Reinhard Seiler - Software Developer"/>
    <meta name="keywords" content="reinhard seiler, software developer, software architect"/>
    <link rel="canonical" href="$canonicalUrl"/>

    <style amp-custom th:utext="${cssCode}"></style>

    <script async src="https://cdn.ampproject.org/v0.js"></script>
    <script async custom-element="amp-analytics" src="https://cdn.ampproject.org/v0/amp-analytics-0.1.js"></script>
    <style amp-boilerplate>body{-webkit-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-moz-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-ms-animation:-amp-start 8s steps(1,end) 0s 1 normal both;animation:-amp-start 8s steps(1,end) 0s 1 normal both}@-webkit-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-moz-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-ms-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-o-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}</style><noscript><style amp-boilerplate>body{-webkit-animation:none;-moz-animation:none;-ms-animation:none;animation:none}</style></noscript>
    <!-- build.time:${buildTime} -->
    <!-- build.version:${buildVersion} -->
</head>
<body th:id="${pageName}" class="rs">

<div class="wrapper">
    <div id="header" class="clearfix">
        <div class="clearfix" itemscope itemtype="http://schema.org/Person">
            <h1 th:if="${isHome}" class="site-title" itemprop="name">
                Reinhard Seiler
            </h1>
            <div th:unless="${isHome}" class="site-title" itemprop="name">
                Reinhard Seiler
            </div>

            <div class="site-description">
                <span itemprop="jobTitle">Software Developer</span>: Java, Web and IT
            </div>
        </div>
    </div>
</div>

<nav role="navigation" class="navbar navbar-default">
    <ul class="nav navbar-nav">
        <li><a href="/">Home</a></li>
        <li><a href="http://blog.rseiler.at">Blog</a></li>
        <li><a href="/projects">Projects</a></li>
        <li><a href="/cv">Curriculum Vitae</a></li>
        <li><a href="/contact">Contact</a></li>
        <li><a href="/imprint">Imprint</a></li>
    </ul>
</nav>

<div class="wrapper">
    <div id="content" layout:fragment="content"></div>
</div>

<amp-analytics type="googleanalytics" id="analytics1">
    <script type="application/json">
        {
            "vars": {
                "account": "UA-60757919-1"
            },
            "triggers": {
                "trackPageview": {
                    "on": "visible",
                    "request": "pageview"
                }
            }
        }
    </script>
</amp-analytics>

</body>
</html>