#header {

  .site-title {
    float: left;
    font-size: 25px;
    font-weight: bold;
    color: #3399bb;
    margin: 0;
    padding: 0;
  }

  .site-description {
    float: right;
    font-style: italic;

    @media (min-width: @grid-float-breakpoint) {
      text-align: right;
    }
  }

  nav {
    margin: 15px -15px;
    .border-radius(0);

    li {
      padding: 0 15px;

      &:hover a {
        color: @navbar-default-link-active-color;
        background-color: @navbar-default-link-active-bg;
      }

      @media (min-width: @grid-float-breakpoint) {
        padding: 0;
      }
    }
  }

}